@tailwind base;
@tailwind components;
@tailwind utilities;
@import './styles/global.css';
@import './styles/reset.css';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.dark {
  background-color: var(--gray-1);
}

body.light {
  background-color: var(--white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
