.another-posts .btn-filter:hover,
.another-posts .btn-filter:focus,
.another-posts .btn-filter.active {
  color: var(--orange);
}

body.dark #page-controls button {
  color: var(--white);
}

@media (max-width: 768px) {
  .another-posts .posts-container {
    width: calc(100vw - 2rem);
  }
}

#page-controls button:hover,
#page-controls button.active {
  color: var(--orange) !important;
}