@import url('./global.css');

.btn-primary-b,
.btn-secundary-b {
  padding: 16px 48px;
  font-size: 18px;
  border-radius: 4px;
}

.btn-primary-m,
.btn-secundary-m {
  padding: 12px 40px;
  font-size: 16px;
  border-radius: 4px;
}

.btn-primary-s,
.btn-secundary-s {
  padding: 8px 32px;
  font-size: 14px;
  border-radius: 4px;
}

.btn-primary-b,
.btn-primary-m,
.btn-primary-s {
  background: var(--blue);
  color: var(--white);
  transition: 0.3s;
}

.btn-secundary-b,
.btn-secundary-m,
.btn-secundary-s {
  background: transparent;
  color: var(--blue);
  border: 2px solid var(--blue);
  transition: 0.3s;
}

.btn-secundary-b:hover,
.btn-secundary-m:hover,
.btn-secundary-s:hover {
  border-color: var(--dark-blue);
}

.btn-primary-b:hover,
.btn-primary-m:hover,
.btn-primary-s:hover,
.btn-primary-b:focus,
.btn-primary-m:focus,
.btn-primary-s:focus,
.btn-secundary-b:hover,
.btn-secundary-m:hover,
.btn-secundary-s:hover {
  background: var(--dark-blue);
  color: var(--white);
}

.btn-secundary-b:focus,
.btn-secundary-m:focus,
.btn-secundary-s:focus {
  background-color: transparent;
  color: var(--dark-blue);
}

.btn-primary-b:disabled,
.btn-primary-m:disabled,
.btn-primary-s:disabled,
.btn-secundary-b:disabled,
.btn-secundary-m:disabled,
.btn-secundary-s:disabled {
  background-color: var(--gray-1);
  color: var(--white);
}
