.btn-option {
  background-color: var(--white);
  color: var(--black);
}

.btn-option:hover {
  background-color: var(--gray-3);
}

.character-card {
  width: 350px;
  height: 260px;
  flex: 0 0 auto;
}

.character-card:hover .character-card-info {
  height: 30%;
}

.character-card:hover .overlay {
  opacity: 0.3;
}

.character-card:hover h2 {
  opacity: 1;
}

@media (max-width: 1000px) {
  .character-card {
    width: 250px;
    height: 200px;
  }
}

@media (max-width: 768px) {
  .character-card {
    width: 200px;
    height: 150px;
  }
}
