.comments {
  background-color: var(--white);
  color: var(--black);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.comments .x path {
  stroke: black;
  fill: black;
}

.user-comment-container {
  border-color: var(--gray-3);
}

.user-comment-container:hover {
  border-color: var(--gray-2);
}

.user-comment-container:focus-within {
  border-color: var(--black);
}

.time-ago {
  color: var(--gray-2);
}

.likes-container .like:hover,
.likes-container .like.active {
  color: var(--blue);
}

.likes-container .like:hover path,
.likes-container .like.active path {
  stroke: var(--blue);
}

.likes-container .dislike.active,
.likes-container .dislike:hover {
  color: var(--orange);
}

.likes-container .dislike.active path,
.likes-container .dislike:hover path {
  stroke: var(--orange);
}

.comment-options path {
  stroke: var(--gray-2);
}

.comment.response {
  width: calc(100% - 24px);
  margin-left: 24px;
}

.comment.response::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: var(--gray-3);
}
