.footer-container {
  grid-template-columns: 3fr auto 1fr;
  grid-template-rows: 3fr 1fr;
}

@media (max-width: 768px) {
  .footer-container {
  grid-template-columns: 3fr repeat(2, auto);
    grid-template-rows: 1fr auto;
  }
}

.footer-container .separator {
  margin-inline: 1rem;
}

.footer-text, 
.copyright p {
  color: var(--gray-3);
}

.footer-links {
  color: var(--gray-3);
}

footer .footer-link:hover {
  color: var(--purple);
}

.footer-link::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 4px;
  position: relative;
  background-color: var(--gray-3);
  transition: .5s;
}

.footer-link:hover::before {
  width: 16px;
  background-color: var(--purple);
}

.social a:hover {
  background-color: var(--blue);
  box-shadow: 0 0 10px 0 var(--blue);
  transform: translateY(-3px);
}