:root {
  /* Colors */

  --blue: #3b82f6;
  --dark-blue: #25408e;
  --orange: #fb923c;
  --purple: #9747ff;
  --black: #1f2937;
  --gray-1: #374151;
  --gray-2: #6b7280;
  --gray-3: #d1d5db;
  --gray-4: #f3f4f6;
  --white: #f9fafb;

  /* Gradient-colors */
  --gradient-gray: linear-gradient(to bottom, #6b7280e3 025%, #1f2937 90%);
  --gradient-blue: linear-gradient(to bottom, #3b82f6 50%, #1627a7 100%);

  /* font-style*/

  --fontFamily-Texturina: 'Texturina', cursive;
  --fontFamily-Lora: 'Lora', sans-serif;

  /* font-size */

  /* desktop */

  --fontSize-title-desktop-1: 2.25rem;
  --fontSize-title-desktop-2: 1.75rem;
  --fontSize-title-desktop-3: 1.25rem;
  --fontSize-text-desktop-1: 1.15rem;
  --fontSize-text-desktop-2: 0.875rem;

  /* mobile */

  --fontSize-title-mobile-1: 1.75rem;
  --fontSize-title-mobile-2: 1.5rem;
  --fontSize-title-mobile-3: 1.125rem;
  --fontSize-text-mobile-1: 1rem;
  --fontSize-text-mobile-2: 0.75rem;

  /* font-weight */
  --weight-regular: 400;
  --weight-semibold: 600;
  --weight-bold: 700;

  /* shape */

  --border-radius: 4px;

  --section-space: 70px;
}

/* Tipografia Desktop */
.title-b-desktop {
  font-size: var(--fontSize-title-desktop-1);
  font-family: var(--fontFamily-Texturina);
  font-weight: var(--weight-bold);
}
.title-m-desktop {
  font-size: var(--fontSize-title-desktop-2);
  font-family: var(--fontFamily-Texturina);
  font-weight: var(--weight-semibold);
}
.title-s-desktop {
  font-size: var(--fontSize-title-desktop-3);
  font-family: var(--fontFamily-Texturina);
  font-weight: var(--weight-semibold);
}
.text-n-desktop {
  font-size: var(--fontSize-text-desktop-1);
  font-family: var(--fontFamily-Lora);
  font-weight: var(--weight-regular);
  line-height: 1.5rem;
}
.text-s-desktop {
  font-size: var(--fontSize-text-desktop-2);
  font-family: var(--fontFamily-Lora);
  font-weight: var(--weight-regular);
  line-height: 1.25rem;
}

/* Tipografia Mobile */

@media (max-width: 768px) {
  .title-b-desktop {
    font-size: var(--fontSize-title-mobile-1);
    font-family: var(--fontFamily-Texturina);
    font-weight: var(--weight-bold);
  }
  .title-m-desktop {
    font-size: var(--fontSize-title-mobile-2);
    font-family: var(--fontFamily-Texturina);
    font-weight: var(--weight-semibold);
  }
  .title-s-desktop {
    font-size: var(--fontSize-title-mobile-3);
    font-family: var(--fontFamily-Texturina);
    font-weight: var(--weight-semibold);
  }
  .text-n-desktop {
    font-size: var(--fontSize-text-mobile-1);
    font-family: var(--fontFamily-Lora);
    font-weight: var(--weight-regular);
  }
  .text-s-desktop {
    font-size: var(--fontSize-text-mobile-2);
    font-family: var(--fontFamily-Lora);
    font-weight: var(--weight-regular);
  }
}

/* Variaveis */

.black-bg {
  background-color: var(--black);
}

.white-bg {
  background-color: var(--white);
}

.logo {
  width: 64px;
  height: 64px;
}

.color-white {
  color: var(--white);
}
.color-black {
  color: var(--black);
}
.color-blue {
  color: var(--blue);
}

.left svg {
  transform: rotate(180deg);
}

body.dark .nav-arrow,
.separator.in-black-bg {
  background-color: var(--white);
}

body.light .nav-arrow {
  background-color: var(--black);
}

body.light .nav-arrow:hover,
body.dark .nav-arrow:hover {
  background-color: var(--purple);
}

body.light .nav-arrow svg {
  stroke: var(--white);
}

body.dark .nav-arrow svg,
body.light .nav-arrow:hover svg,
body.dark .nav-arrow:hover svg {
  stroke: var(--black);
}

h1.title-b-desktop::before {
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--purple);
  position: absolute;
  bottom: -5px;
  left: 0;
  border-radius: 4px;
}

h1.title-b-desktop.in-black-bg {
  color: var(--orange);
}

h1.title-b-desktop.in-black-bg::before {
  background-color: var(--orange);
}
