@import url('./variables.css');

header {
  background-color: var(--black);
  color: var(--white);
  font-family: var(--f);
  padding: 16px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 4px 0 #00000033;
  width: 100%;
}

body.light .dark-mode-toggle,
body.dark .dark-mode-toggle {
  color: var(--white);
  border: none;
  width: 48px;
  height: 24px;
  border-radius: 24px;
  cursor: pointer;
}

body.light .dark-mode-toggle {
  background: hsla(27, 96%, 61%, 0.2);
}
body.dark .dark-mode-toggle {
  background: hsla(266, 100%, 64%, 0.2);
}

.dark-mode-toggle span,
.dark-mode-toggle span img {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 24px;
  display: grid;
  place-content: center;
  transition: 0.3s;
}

.dark-mode-toggle span img {
  opacity: 0;
  visibility: hidden;
}

body.light .dark-mode-toggle span img.sun,
body.dark .dark-mode-toggle span img.moon {
  z-index: 1;
  opacity: 1;
  visibility: visible;
}

body.light .dark-mode-toggle span {
  background-color: var(--orange);
  left: 0;
}

body.dark .dark-mode-toggle span {
  background-color: var(--purple);
  left: calc(100% - 24px);
}

.navbar-container {
  gap: 24px;
  margin-inline: 24px 32px;
  transform: translateY(-4px);
}

.navbar-link {
  position: relative;
  cursor: pointer;
}

.navbar-link::after {
  transition: 0.3s;
  content: '';
  background-color: var(--purple);
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: -5px;
  left: 0;
  z-index: 1;
  border-radius: var(--border-radius);
}

.navbar-link.active,
.navbar-link:hover {
  color: var(--purple);
}

.navbar-link.active::after,
.navbar-link:hover::after {
  width: 100%;
}

.search-bar {
  justify-content: center;
}

.search-bar-btn {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  background-color: var(--white);
  padding: 8px 12px;
  color: var(--black);
}

.search-bar-btn:hover {
  background-color: var(--gray-3);
}

.search-bar-btn:focus {
  outline: none;
}

.search-bar-btn img {
  width: 24px;
  height: 24px;
}

.search-bar-input {
  color: var(--black);
  background-color: var(--white);
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  font-size: var(--fontSize-title-desktop-3);
}

