#header.hide {
  transform: translateY(-100%);
}

body.light .dark-mode-toggle,
body.dark .dark-mode-toggle {
  color: var(--white);
  width: 48px;
  height: 24px;
  border-radius: 24px;
}

body.light .dark-mode-toggle {
  background: hsla(27, 96%, 61%, 0.2);
}
body.dark .dark-mode-toggle {
  background: hsla(266, 100%, 64%, 0.2);
}

.dark-mode-toggle span,
.dark-mode-toggle span svg {
  width: 24px;
  height: 24px;
  border-radius: 24px;
}

body.light .dark-mode-toggle span svg.sun,
body.dark .dark-mode-toggle span svg.moon {
  z-index: 1;
  opacity: 1;
  visibility: visible;
}

body.light .dark-mode-toggle span {
  background-color: var(--orange);
}

body.dark .dark-mode-toggle span {
  background-color: var(--purple);
  left: calc(100% - 24px);
}

.navbar-mobile {
  display: none;
}

.navbar-container {
  transform: translateY(-4px);
}

.navbar-link.active,
.navbar-link:focus,
.navbar-link:hover,
.navbar-container-mobile .navbar-link-mobile.active,
.navbar-container-mobile .navbar-link-mobile:focus,
.navbar-container-mobile .navbar-link-mobile:hover,
.navbar-container-mobile .navbar-link-mobile.active svg,
.navbar-container-mobile .navbar-link-mobile:focus svg,
.navbar-container-mobile .navbar-link-mobile:hover svg,
.navbar-link.active svg,
.navbar-link:focus svg,
.navbar-link:hover svg{
  color: var(--purple);
}

.navbar-link::after {
  content: '';
  background-color: var(--purple);
  width: 0%;
  height: 2px;
  position: absolute;
  transition: 0.3s;
  bottom: -5px;
  left: 0;
  z-index: 1;
  border-radius: 4px;
}

.navbar-link.active::after,
.navbar-link:hover::after {
  width: 100%;
}

.search-bar-btn {
  background-color: var(--white);
}

.search-bar-btn.active {
  background-color: var(--gray-3);
}

.search-bar-btn:hover {
  background-color: var(--blue);
}

.search-bar-btn.active ~ .search-bar-input {
  width: 300px;
  padding-left: 20px;
}

@media (max-width: 650px) {
  .search-bar-btn.active ~ .search-bar-input {
    width: 250px;
  }
}
@media (max-width: 550px) {
  .search-bar-btn.active ~ .search-bar-input {
    width: 150px;
  }
}
@media (max-width: 450px) {
  .search-bar-btn.active ~ .search-bar-input {
    width: 100px;
  }
}

.search-bar-input {
  order: -1;
  color: var(--black);
  background-color: var(--white);
}

.navbar-toggle-btn.active .bar {
  transform: rotate(225deg);
  position: absolute;
  background-color: var(--orange);
}

.navbar-toggle-btn.active .bar:first-child {
  transform: rotate(405deg);
}

.navbar-toggle-btn.active .bar:last-child {
  transform: rotate(-225deg);
}

@media (max-width: 1040px) {
  .navbar-container {
    display: none;
  }

  .navbar-container-mobile {
    position: fixed;
    top: 95px;
    width: 50%;
    height: max-content;
    background-color: var(--white);
    z-index: 11;
    transform: translateX(100%);
  }

  .navbar-toggle-btn.active ~ .navbar-container-mobile {
    transform: translateX(0);
  }

  .navbar-container-mobile .navbar-link-mobile {
    background-color: var(--white);
    color: var(--black);
  }

  .navbar-container-mobile .navbar-link-mobile::before {
    content: '';
    background: var(--purple);
    display: block;
    width: 0px;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    transition: 0.5s;
    z-index: 12;
  }

  .navbar-container-mobile .navbar-link-mobile.active,
  .navbar-container-mobile .navbar-link-mobile:hover,
  .navbar-container-mobile .navbar-link-mobile:focus {
    background-color: hsla(266, 100%, 64%, 0.2);
    transform: translateX(8px);
  }

  .navbar-container-mobile .navbar-link-mobile.active::before,
  .navbar-container-mobile .navbar-link-mobile:hover::before,
  .navbar-container-mobile .navbar-link-mobile:focus::before {
    width: 8px;
    left: -8px;
  }

  .navbar-mobile {
    display: block;
  }

  .navbar-mobile .btn-primary-m {
    border-radius: 0;
  }
}
