:root {
  /* Colors */

  --blue: #3b82f6;
  --dark-blue: #1627a7;
  --orange: #fb923c;
  --purple: #9747ff;
  --black: #1F2937;
  --gray-1: #374151;
  --gray-2: #6b7280;
  --gray-3: #d1d5db;
  --gray-4: #f3f4f6;
  --white: #f9fafb;

  /* Gradient-colors */
  --gradient-gray: linear-gradient(to bottom, #6b7280 025%, #1f2937 90%);
  --gradient-blue: linear-gradient(to bottom, #3b82f6 50%, #1627a7 100%);

  /* font-style*/

  --fontFamily-Texturina: 'Texturina', cursive;
  --fontFamily-Lora: 'Lora', sans-serif;

  /* font-size */

  /* desktop */

  --fontSize-title-desktop-1: 2.25rem;
  --fontSize-title-desktop-2: 1.75rem;
  --fontSize-title-desktop-3: 1.25rem;
  --fontSize-text-desktop-1: 1rem;
  --fontSize-text-desktop-2: 0.875rem;

  /* mobile */

  --fontSize-title-mobile-1: 1.75rem;
  --fontSize-title-mobile-2: 1.5rem;
  --fontSize-title-mobile-3: 1.125rem;
  --fontSize-text-mobile-1: 1rem;
  --fontSize-text-mobile-2: 0.75rem;

  /* font-weight */
  --weight-regular: 400;
  --weight-semibold: 600;
  --weight-bold: 700;

  /* shape */

  --border-radius: 4px;

  --section-space: 70px;
}

/* Tipografia Desktop */
.title-b-desktop {
  font-size: var(--fontSize-text-desktop-1);
  font-family: var(--fontFamily-Texturina);
  font-weight: var(--weight-bold);
}
.title-m-desktop {
  font-size: var(--fontSize-title-desktop-2);
  font-family: var(--fontFamily-Texturina);
  font-weight: var(--weight-semibold);
}
.title-p-desktop {
  font-size: var(--fontSize-title-desktop-3);
  font-family: var(--fontFamily-Texturina);
  font-weight: var(--weight-semibold);
}
.text-n-desktop {
  font-size: var(--fontSize-text-desktop-1);
  font-family: var(--fontFamily-Lora);
  font-weight: var(--weight-regular);
}
.text-p-desktop {
  font-size: var(--fontSize-text-desktop-2-desktop-2);
  font-family: var(--fontFamily-Lora);
  font-weight: var(--weight-regular);
}

/* Tipografia Mobile */

.title-b-mobile {
  font-size: var(--fontSize-title-mobile-1);
  font-family: var(--fontFamily-Texturina);
  font-weight: var(--weight-bold);
}
.title-m-mobile {
  font-size: var(--fontSize-title-mobile-2);
  font-family: var(--fontFamily-Texturina);
  font-weight: var(--weight-semibold);
}
.title-p-mobile {
  font-size: var(--fontSize-title-mobile-3);
  font-family: var(--fontFamily-Texturina);
  font-weight: var(--weight-semibold);
}
.text-n-mobile {
  font-size: var(--fontSize-text-mobile-1);
  font-family: var(--fontFamily-Lora);
  font-weight: var(--weight-semibold);
}
.text-p-mobile {
  font-size: var(--fontSize-text-mobile-2);
  font-family: var(--fontFamily-Lora);
  font-weight: var(--weight-semibold);
}

/* Variaveis */

.black-bg {
  background-color: var(--black);
}

.white-bg {
  background-color: var(--white);
}

.logo {
  width: 64px;
  height: 64px;
}

.color-white {
  color: var(--white);
}
.color-black {
  color: var(--black);
}
.color-blue {
  color: var(--blue);
}



.btn-primary-b,
.btn-secundary-b {
  padding: 16px 48px;
  font-size: 18px;
  border-radius: var(--border-radius);
} 

.btn-primary-m,
.btn-secundary-m {
  padding: 12px 40px;
  font-size: 16px;
  border-radius: var(--border-radius);
}

.btn-primary-p,
.btn-secundary-p {
  padding: 8px 32px;
  font-size: 14px;
  border-radius: var(--border-radius);
}

.btn-primary-b,
.btn-primary-m,
.btn-primary-p {
  background: var(--gradient-blue);
  color: var(--white);
  
}

.btn-secundary-b,
.btn-secundary-m,
.btn-secundary-p  {
  background: transparent;
  color: var(--blue);
  border: 2px solid var(--blue);
  transition: .3s;
}

.btn-secundary-b:hover,
.btn-secundary-m:hover,
.btn-secundary-p:hover {
  border-color: var(--dark-blue);
}

.btn-primary-b:hover,
.btn-primary-m:hover,
.btn-primary-p:hover,
.btn-primary-b:focus-visible,
.btn-primary-m:focus-visible,
.btn-primary-p:focus-visible,
.btn-secundary-b:hover,
.btn-secundary-m:hover,
.btn-secundary-p:hover {
  background: var(--dark-blue);
  color: var(--white);
}

.btn-secundary-b:focus-visible,
.btn-secundary-m:focus-visible,
.btn-secundary-p:focus-visible {
  background-color: transparent;
  color: var(--dark-blue);
}

.btn-primary-b:disabled,
.btn-primary-m:disabled,
.btn-primary-p:disabled,
.btn-secundary-b:disabled,
.btn-secundary-m:disabled,
.btn-secundary-p:disabled {
  background-color: var(--gray-1);
  color: var(--white);
}